/examples/config.js
/node_modules
/src/config.js
/src/test.js
/.DS_Store
/dist/config.js
/dist/dash.js
/dist/forwardSignalToSMS.js
/dist/forwardSMStoSignal.js
/dist/index.js
/dist/test.js
/dist/Twilio.js
